html, body, .demo {
    min-height: 100vh;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
}

.control-editable {
    font-weight: bold;
}
.control-editable.active, .control-editable.active:hover {
    color: red;
}

.grid {
    display: flex;
}
.grid.vertical {
    flex-direction: column;
}
.cell {
    flex: 1;
}
.grid.with-gutters .cell {
    margin: 0 15px;
}

#main {
    height: 80vh;
}
