<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"/>
    <script src="../vendor/cajon/index.js"></script>
    <script src="../config.js"></script>

    <link rel="stylesheet" href="../vendor/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="demo.css"/>
  </head>
  <body>

    <div class="demo grid vertical" ng-cloak ng-controller="DemoCtrl as demo">
      <div class="cell">
        <lf-map style="display:none" name="main"
          center="demo.center"
          options="{ minZoom: 5, maxZoom: 18 }"
          lf-click="demo.createMarker(lfEvent)"
        >
          <lf-marker ng-repeat="marker in demo.markers"
            position="marker.position" draggable="demo.editable"
            accuracy="10"
            lf-click="demo.focusMarker(marker)"
          >
            Marker <b>#{{marker.id}}</b><br/>
            {{marker.position.lng}},{{marker.position.lat}}<br/>
            <a href="" ng-if="demo.editable" ng-click="demo.destroyMarker(marker)">remove</a>
          </lf-marker>

          <lf-polyline positions="demo.polyline"
            path-style="{ weight: 3, color: 'red'}">
          </lf-polyline>

          <lf-polygon positions="demo.polygon"
            path-style="{ stroke: false, fillOpacity: .5, color: '#0F0' }">
          </lf-polygon>
        </lf-map>

        <div class="leaflet-control-container">
          <div class="leaflet-top leaflet-right">
            <div class="leaflet-bar leaflet-control">
              <a href="" ng-click="demo.toggleEditState()"
                class="control-editable" ng-class="{ active: demo.editable }"
                title="Toggle editable state">E</a>
            </div>
          </div>
        </div>
      </div>

      <div class="cell">
        <div class="grid with-gutters">
          <dl class="cell">
            <dt>Markers</dt>
            <dd ng-repeat="marker in demo.markers">
              {{marker.id}}: {{marker.position.lng}},{{marker.position.lat}}
              <a href="" ng-click="demo.focusMarker(marker)">focus</a>
              <a href="" ng-click="demo.destroyMarker(marker)">remove</a>
            </dd>
          </dl>
          <dl class="cell">
            <dt>Map center</dt>
            <dd>
              <input type="text" ng-model="demo.center.position[0]"/>
              <input type="text" ng-model="demo.center.position[1]"/>,
            </dd>
            <dd>zoom: <input type="text" ng-model="demo.center.zoom"/></dd>
          <dl>
        </div>
      </div>
    </div>

    <script>
      require(['angular', '../examples/demo'], function (angular, demo) {
        angular.bootstrap(document, [demo.name]);
      });
    </script>
  </body>
</html>
